<div class="navbar-form navbar-right">

  <%= link_to "#{current_user.profile.username}", user_path(current_user), class: 'btn btn-primary' %>

  <%= link_to "Sign Out", session_path, method: :delete, class: "btn btn-default" %>

</div>
