<h2>My Stats</h2>

<section class="row">
  <section class="col-md-12">

    <table class="table table-striped">
      <tr>
        <td>Questions Answered</td>
        <td><%= user.questions_answered %></td>
      </tr>

      <tr>
        <td>Correct Answers</td>
        <td><%= user.correct_answers %></td>
      </tr>

      <tr>
        <td>Incorrect Answers</td>
        <td><%= user.incorrect_answers %></td>
      </tr>

      <tr>
        <td>Answer Ratio (correct/total)</td>
        <td><%= user.answer_ratio.round(2) %></td>
      </tr>
    </table>

  </section>
</section>
