
<table class="table">
  <tr>
    <td>
      Questions Answered
    </td>
    <td>

    </td>
  </tr>
</table>

<%= user.questions_answered %>
<%= user.correct_answers %>
<%= user.incorrect_answers %>
<%= user.answer_ratio %>
