<section class="row">
  <section class="col-md-4">
    <h2>Activity Feed</h2>
    <%= render partial: "activities/activity", locals: { activity: activity } %>
  </section>
  <section class="col-md-8">
    <h2>Leaderboard</h2>
    

    <h2>My Stats</h2>
    <section class="row">
      <section class="col-md-12">

      </section>
    </section>

    <h2>Question Stats</h2>
    <section class="row">
      <section class="col-md-12">

      </section>
    </section>
  </section>
</section>
