<section class="row">
  <section class="col-md-4">

    <%= render partial: "activities/activity", locals: { activity: activity } %>
    
  </section>
  <section class="col-md-8">

    <%= render partial: "users/leaderboard", locals: { users: @users } %>

    <%= render partial: "users/user_stats", locals: { user: @user } %>

    <%= render partial: "questions/question_stats", locals: { question: @questions } %>

  </section>
</section>
