<section class="row">
  <section class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Welcome to PokéQuiz!</h1>

    <h2 class="text-center">The Web App that lets you:</h2>

    <h4 class="text-center">Test your knowledge of Pokemon!</h4>
    <h4 class="text-center">Compare your results with other users!</h4>
    <h4 class="text-center">Follow other users!</h4>

    <h2 class="text-center">Sign Up Now!</h2>
    <%= link_to "Sign Up", "#", "data-toggle" => "modal", "data-target" => "#signinform", class: "btn btn-block btn-primary" %>
    <%= render partial: "modaluserform.html.erb", locals: { user: @user } %>
  </section>
</section>
