<%= form_form @result do |result_field| %>

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-default">

          <div class="panel-heading">
            <h2 class="panel-title">Question</h2>
          </div>

          <div class="panel-body">

            <div class="row">
              Question Body
            </div>

          </div>

          <div class="panel-footer">

            <div class="row">
              <%= result_field.collection_radio_buttons :answers, Question.category, :value, :name%>
            </div>

            <div class="row">
              <%= result_field.submit "Submit Answer", class: 'btn btn-warning btn-lg' %>
            </div>

          </div>

        </div>
      </div>
    </div>
<% end %>