<h2>Activity Feed</h2>

<% @activities.each do |activity| %>

  <div class="row">
    <div class="col-md-12">
      <%= render partial: "activities/#{activity.activable_type.downcase}", locals: {:act => activity} %>
    </div>
  </div>

<% end %>
